.idea
.vs
.vscode
.build
.github
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/*.vcxproj*
build/*.sln
build/x64/
build/libnode.dir/
build/.ninja_deps
build/.ninja_log
build/build.ninja
CMakeFiles
src
CMakeLists.txt